@using AIFitnessProject.Core.Models.Document
@model AllDocumentsViewModel

<div class="container animate-card">
    <div class="confirmation-header">
        <h2>Сигурни ли сте, че искате да не приемете кандидатурата?</h2>
    </div>

    <div class="profile-info">
        <div class="profile-picture">
            <img src="data:image/jpeg;base64,@Model.ProfilePictureUrl" alt="Profile Picture">
        </div>
        <div class="profile-details">
            <p><strong>Име:</strong> @Model.FirstName @Model.LastName</p>
            <p><strong>Позиция:</strong> @Model.Position</p>
            <p><strong>Специализация:</strong> @Model.Specialization</p>
        </div>
    </div>

    <div class="confirmation-actions">
        <a asp-action="Delete" asp-controller="AdminDocument" asp-route-id="@Model.Id" class="btn decline">Премахни</a>
        <a asp-action="All" asp-area="Admin" asp-controller="AdminDocument" class="btn back">Назад</a>
       
    </div>
</div>
<link rel="stylesheet" href="~/css/Document/ConfirmDelete.css"/>