@model AIFitnessProject.Core.Models.Trainer.DetailsTrainerViewModel

<div class="trainer-details-container">
    
    <section class="trainer-header">
        <div class="trainer-photo">
            <img src="data:image/jpeg;base64,@Model.TrainerImage" alt="Trainer Photo" />
        </div>
        <div class="trainer-info">
            <h1>@Model.FirstName @Model.LastName</h1>
            <h2 class="trainer-specialization">@Model.Specialization</h2>
        </div>
    </section>

    
    <section class="trainer-bio">
        <h3>Биография</h3>
        <p>@Model.Bio</p>
    </section>


    
    <section class="trainer-certification">
        <h3>Моят Сертификат</h3>
        <div class="trainer-certification-content">
            <img src="data:image/jpeg;base64,@Model.SertificationImage" alt="Trainer Certification" />
            <p>@Model.SertificationDetails</p>
        </div>
    </section>

  
    <section class="trainer-comments">
        <h3>Коментари</h3>
        <div class="comments-container">
            @foreach (var comment in Model.Comments)
            {
                <div class="comment-item">
                    <div class="comment-author">@comment.SenderName</div>
                    <div class="comment-content">@comment.Content</div>
                    <div class="comment-grade">
                        <span class="stars">
                            @for (var i = 0; i < 5; i++)
                            {
                                <span class="star @(i < comment.Rating ? "filled" : "")">&#9733;</span>
                            }
                        </span>
                    </div>
                </div>
            }
        </div>
    </section>

   
    <section class="trainer-buttons">
        <button class="back-btn" onclick="window.history.back()">Назад</button>
        <a asp-controller="RequestsToCoach" asp-action="Survey" asp-route-Id="@Model.Id" class="signup-btn">Запиши се</a>
    </section>
</div>
 <link rel="stylesheet" href="~/css/DetailsViewPage.css" />